@charset "UTF-8";

/* フォントの取得 */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Klee+One:wght@400;600&family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP:wght@200..900&family=Potta+One&family=RocknRoll+One&family=Stick&display=swap');

/* テンプレート */
.dotgothic16-regular {
  font-family: "DotGothic16", serif;
  font-weight: 400;
  font-style: normal;
}

.noto-serif-jp-<uniquifier> {
  font-family: "Noto Serif JP", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.stick-regular {
  font-family: "Stick", serif;
  font-weight: 400;
  font-style: normal;
}

.noto-sans-jp-<uniquifier> {
  font-family: "Noto Sans JP", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.rocknroll-one-regular {
  font-family: "RocknRoll One", serif;
  font-weight: 400;
  font-style: normal;
}

.potta-one-regular {
  font-family: "Potta One", serif;
  font-weight: 400;
  font-style: normal;
}

.klee-one-regular {
  font-family: "Klee One", serif;
  font-weight: 400;
  font-style: normal;
}

.klee-one-semibold {
  font-family: "Klee One", serif;
  font-weight: 600;
  font-style: normal;
}

/* 文字サイズ */
/* タイトル */
.Font_Title {
  font-family: "DotGothic16", serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* 警告文 */
.Font_Warning {
  font-family: "Noto Serif JP", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* サイト1st/サイト名 */
.Font_Site-Name {
  font-family: "Stick", serif;
  font-size: 96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* 追尾ナビ/リスト */
.Font_Tracking-List {
  font-family: "DotGothic16", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* サイト案内/テキスト */
.Font_Site-Guide {
  font-family: "Noto Sans JP", serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* 自己紹介/説明 */
.Font_Self-introduction-Explanation {
  font-family: "RocknRoll One", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* 自己紹介/本文 */
.Font_Self-introduction-Main-Text {
  font-family: "Noto Serif JP", serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* 制作物紹介/タイトル */
.Font_Production-Introduction-Title {
  font-family: "Potta One", serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* 制作物紹介/本文 */
.Font_Production-Introduction-Main-Text {
  font-family: "Klee One", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}



.Definitely-not-the-front-page {
  display: flex;
  padding: 50px;
}

.title {
  padding: 9px 160px;
  align-items: center;
  align-self: stretch;
}

.top-li {
  list-style: none;
}